body {
    font-family: "Montserrat";
    margin: 0;
    height: 100%;
}

header {
    position: relative;
}



h1 {
    margin-left: 70px;
    margin-bottom: 50px;
}


h2 {
    margin-bottom: 40px;
    margin-top: 40px;
}

h3 {
    text-align: center;
    margin-top: 50px;
}

.navigation-submenu,
.headline-holder,
.banner,
a {
    text-transform: uppercase;
}



$white: #fff;
$bgrey: #333;
$dbgrey: #444;




.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.row {
    margin: 0 -15px;
    clear: both;
}

.row:before {
    content: " ";
    display: table;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.col {
    float: left;
    display: block;
    padding: 0 15px;
    box-sizing: border-box;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

.col-7 {
    width: 58.33%;
}


.col-5 {
    width: 41.66%;
}

/*Logo & banner*/


.logo-mobile {
    display: none;
}

.logo {
    display: inline-block;
}

.banner {
    color: $dbgrey;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
}

/*navigation*/

.navigation {
    position: relative;
    background-color: $dbgrey;
    color: $white;
    list-style-type: none;
    text-align: right;
    margin: 0 0 25px 0;
}

.navigation li {
    display: inline-block;
    position: relative;
    width: 150px;
    text-align: center;
}
.navigation li:hover {
        background-color: $bgrey;
}

.navigation li:hover .navigation-submenu {
         opacity: 1;
         visibility: visible; 
}

.navigation li a {
    color: $white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.navigation-submenu {
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    background-color: $bgrey;
    transition: opacity .3s ease;
    text-align: center;
    z-index: 10;
}

.navigation-submenu li {
    display: block;

}

/*gallery slider*/

.main-slider {
    margin-left: 40px;
}

.iframe-holder iframe {
    width: 100%;
    height: 300px;
}

.iframe-holder h2 {
    margin-bottom: 40px;
}


/* About txt*/

.cs-info {
    text-align: justify;
    padding-right: 10px;
    box-sizing: border-box;

}
.cs-info a {
    margin: 45px 0 0 140px;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    background-color: $bgrey;
    text-decoration: none;
    color: $white;
    border-radius: 10px;
}

/*news bar holder*/

.headline-holder {
    width: 100%;
    background-color: $dbgrey;
    color: $white;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

footer {
    width: 100%;
    background-color: $dbgrey;
    color: $white;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 50px;
}
